@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("font-files/Inter-Thin.woff2?3.13") format("woff2"),
    url("font-files/Inter-Thin.woff?3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("font-files/Inter-ExtraLight.woff2?3.13") format("woff2"),
    url("font-files/Inter-ExtraLight.woff?3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("font-files/Inter-Light.woff2?3.13") format("woff2"),
    url("font-files/Inter-Light.woff?3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("font-files/Inter-Regular.woff2?3.13") format("woff2"),
    url("font-files/Inter-Regular.woff?3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("font-files/Inter-Medium.woff2?3.13") format("woff2"),
    url("font-files/Inter-Medium.woff?3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("font-files/Inter-SemiBold.woff2?3.13") format("woff2"),
    url("font-files/Inter-SemiBold.woff?3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("font-files/Inter-Bold.woff2?3.13") format("woff2"),
    url("font-files/Inter-Bold.woff?3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("font-files/Inter-ExtraBold.woff2?3.13") format("woff2"),
    url("font-files/Inter-ExtraBold.woff?3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("font-files/Inter-Black.woff2?3.13") format("woff2"),
    url("font-files/Inter-Black.woff?3.13") format("woff");
}

body {
  font-family: Inter;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  outline: solid 1px blue;
  box-shadow: 4px 4px 0px blue;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
}

.flex-container > .pressed {
  background-color: #0080fe;
  color: white;
}

#area {
  width: 100%;
  box-sizing: border-box;
  height: 250px;
  border: 1px solid black;
  display: block;
  font-size: 32px;
  outline: solid 1px blue;
  box-shadow: 4px 4px 0px blue;
  padding: 0.25em 0.5em;
  margin-bottom: 1em;
}
